/*
* index 布局样式
* User: EATHON
* Create: 2023-06-21
* Update: 2023-06-21
*/

.div-top-background-index {
    background-color: #E7DDBD;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* 使用 height: 0 属性将 <div> 元素的高度设置为零，以便根据下面的 padding-bottom 属性自适应调整 */
    height: 0;
    /* 图片宽/图片高 */
    padding-bottom: 129.16666%;
    position: relative;
}

.div-top-txt-0 {
    position: absolute;
    left: 20px;
    top: 120px;
    font-size: 30px;
    font-weight: 700;
    color: #CC6A45;
}

.div-top-txt-1 {
    position: absolute;
    left: 20px;
    top: 170px;
    width: 680px;
    font-size: 16px;
    font-weight: 560;
    font-style: normal;
    color: #7A5C36;
}

.div-top-img-0 {
    position: absolute;
    left: 56px;
    top: 470px;
    width: 372px;
}

.div-top-img-0>img {
    width: 100%;
}

.div-top-img-1 {
    position: absolute;
    left: 458px;
    top: 490px;
    width: 207px;
}

.div-top-img-1>img {
    width: 100%;
}

.div-top-img-2 {
    position: absolute;
    left: 458px;
    top: 580px;
    width: 207px;
}

.div-top-img-2>img {
    width: 100%;
}

/* 
 * container-md
 * https://v5.bootcss.com/docs/layout/containers/
 */

/* width:720px */
@media (max-width: 991.98px) {}

/* width:960px */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* width:1140px */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* width:1320px */
@media (min-width: 1400px) {}