/*
* index 布局样式
* User: EATHON
* Create: 2023-06-21
* Update: 2023-06-21
*/

.div-top-background-index {
    background-color: #E7DDBD;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* 使用 height: 0 属性将 <div> 元素的高度设置为零，以便根据下面的 padding-bottom 属性自适应调整 */
    height: 0;
    /* 图片宽/图片高 */
    padding-bottom: 100%;
    position: relative;
}

.div-top-content{
    position: absolute;
    left: 35px;
    top: 120px;
    width: 650px;
}

.div-top-txt-0 {
    font-size: 16px;
    font-weight: 600;
    color: #CC6A45;
    position: relative;
    top: 8px;
}

.div-top-txt-1 {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #CC6A45;
    text-align: right;
    position: relative;
    top: 8px;
}

.div-top-txt-2 {
    font-size: 16px;
    color: #CC6A45;
}

.div-top-txt-2>textarea{
    height: 122px;
}

.div-top-input-0{
    font-size: 13px;
    font-weight: 400;
}

.div-top-btn-0 {
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
 * container-md
 * https://v5.bootcss.com/docs/layout/containers/
 */

/* width:720px */
@media (max-width: 991.98px) {}

/* width:960px */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* width:1140px */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* width:1320px */
@media (min-width: 1400px) {}